<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}"/>
    <title>Second Dream &centerdot; Online Time Series Deep Dreaming</title>

    {% if dream_script is defined %}
        <script type="text/javascript" src="/bokeh.js"></script>
        {{ dream_script }}
    {% endif %}
</head>
<body>

<header>
    <h1>Second Dream</h1>
    <p>Online Time Series Deep Dreaming</p>
</header>

<main>
    {% if dream_div is defined or dream_video is defined %}
        <div>
            <h2>Dream</h2>
            {% if dream_div is defined %}
                {{ dream_div }}
            {% elif dream_video is defined %}
                {{ dream_video }}
            {% endif %}

            <div id="dream-stats">
                <table>
                    <tr>
                        <th>Class</th>
                        {% for i in range(base_prediction|length) %}
                            {% if true_class is defined and true_class == i %}
                                <th class="true-class"><abbr title="True class of the base time series">{{ i }}</abbr>
                                </th>
                            {% else %}
                                <th>{{ i }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Base prediction</th>
                        {% for p in base_prediction %}
                            <td>{{ "%0.3f" % p }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Dream prediction</th>
                        {% for p in final_dream_prediction %}
                            <td>{{ "%0.3f" % p }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}

    {% if overloaded is defined %}
        <div>
            <h2>Server Overloaded</h2>
            <p>
                {% if overloaded == "no_capacity" %}
                    There are too many other users currently waiting in the queue for their computation.
                    Please try again in about 30 to 60 seconds.
                {% elif overloaded == "timeout" %}
                    Your computation took too long to finish. Try adjusting the hyperparameters to reduce
                    computation time and then try again.
                {% endif %}
            </p>
        </div>
    {% endif %}

    <div>
        <h2>Configuration</h2>
        <form method="get">
            {% for subform in form %}
                <fieldset>
                    <legend>{{ subform.label.text }}</legend>

                    {% for field in subform %}
                        {% if field.name == "base_timeser-source" %}
                            {# Skip radio buttons, we're gonna add them manually down below #}
                        {% elif field.__class__.__name__ == "SubmitField" %}
                            {{ field() }}
                        {% else %}
                            <div>
                                {% if subform.name == "base_timeser" %}
                                    {% for radio in subform.source %}
                                        {% if radio.label.text == field.short_name %}
                                            {{ radio() }}
                                            <label for="{{ radio.id }}">{{ field.label.text }}</label>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ field.label() }}
                                {% endif %}
                                {% if field.description %}
                                    <p class="form-description">{{ field.description }}</p>
                                {% endif %}
                                {{ field() }}
                                {% if field.errors %}
                                    <p class="form-errors">{{ field.errors|join("<br/>") }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </form>

        <p class="love">
            Made with &hearts; by Felix Mujkanovic
            (<a href="https://github.com/LoadingByte" target="_blank">LoadingByte</a>).<br/>
            Code is available on
            <a href="https://github.com/LoadingByte/second-dream" target="_blank">GitHub</a>.
        </p>
    </div>

    {% if model_svg is defined %}
        <div>
            <h2>Model Visualization</h2>
            {{ model_svg }}
        </div>
    {% endif %}
</main>

</body>
</html>
